.container-aside {
  
  flex-direction: column;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  display: flex;
  flex-direction: row;
}

.container-aside img {
  margin: 15px;
  width: 45px;
}

.img-container {
  width: 100%;
}