.container-aside {
    width: 117px;
    flex-direction: column;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    display: flex;
    flex-direction: row;
}

.container-aside img {
    margin: 15px;
}