.container-aside {
  position: relative;
  flex-direction: column;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  display: flex;
  flex-direction: row;
}

.container-aside img {
  margin: 15px;
  width: 45px;
}

.img-container {
  width: 100%;
}

.copyright {
  color: white;
  transform: rotate(-90deg);
  position: absolute;
  bottom: 75px;
  font-size: 11px;
  width: max-content;
  background-color: transparent;
  border: none;
}