header {
    background-color: black;
}

.container-header {
    background-color: black;
    display: flex;
    align-items: center;
    height: 75px;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 18px;
    margin: 0 15px;
}

.header-logo {
    width: 148px;
    object-fit: contain;
}
.header {
    color: black;
    list-style: none;
    flex: 1;
}

.header div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.link {
    text-decoration: none;
    color: white;
}